/* --- SECTIONS ABOUT --- */

.first-title, .second-title{
    color: var(--color-primary);
    text-align: center;
}

.first-title{
    margin-top: 60px;
    margin-bottom: -100px;
}

.about-section {
    width: 100%;
    padding: 50px 0;
    font-size: 25px;
}

/* BLOC GLOBAL */
.bloc {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 70px 10%;
    gap: 60px;
}

/* BLOC INVERSÉ */
.bloc.inverse {
    flex-direction: row-reverse;
}

/* IMAGE EN CERCLE */
.bloc-image {
    width: 40%;
}

.bloc-image img {
    width: 60%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid   var(--color-primary);;/* Bordure bleue */
}



/* TEXTE */
.bloc-texte {
    width: 55%;
}

.bloc-texte h2 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 30px;
    color: var(--color-primary);
}

.bloc-texte p {
    font-size: 17px;
    line-height: 1.6;
    color: #333;
}
/* ======== SECTION ÉQUIPE (2-2-1) ======== */

.founders {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 colonnes */
    gap: 40px;
    max-width: 900px;
    margin: 60px auto;
    text-align: center;
}

.founder {
    width: 100%;
}

.founder img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid var(--color-primary);
    margin-bottom: 12px;
}
.founder h3{
    color: var(--color-primary);
}
/* Le 5e prend une ligne entière et se centre */
.founder:nth-child(5) {
    grid-column: 1 / -1; 
    justify-self: center;
}


